<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.sjzc.fanyafeng.testlamejni">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="${APP_NAME}"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="${APP_NAME}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".activity.PhotoActivity"
            android:allowBackup="true"
            android:label="@string/title_activity_photo"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".activity.ScanActivity"
            android:label="@string/title_activity_scan"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".activity.ChangeThemeActivity"
            android:label="@string/title_activity_change_theme" />
        <activity
            android:name=".activity.TestBaseActivity"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".activity.TestWeChatActivity"
            android:label="@string/title_activity_test1" />
        <activity
            android:name=".activity.TestTitleActivity"
            android:label="@string/title_activity_test2" />
        <activity
            android:name=".activity.TestHideActivity"
            android:label="@string/title_activity_test_hide" />
        <activity
            android:name=".activity.TestCustomActivity"
            android:theme="@style/XTheme"
            android:label="@string/title_activity_test_custom" />
        <activity
            android:name=".activity.TestPopWindowActivity"
            android:label="@string/title_activity_test_pop_window" />
        <activity
            android:name=".activity.ChangeBackgroudActivity"
            android:label="@string/title_activity_change_backgroud" />
        <activity
            android:name="cn.edu.sjzc.fanyafeng.testlamejni.testnetvideo.NetVideoActivity"
            android:label="@string/title_activity_net_video" />
    </application>


</manifest>
